/* *
{
    margin:0;
    padding:0;
}

.container-fluid
{
    height:10vh;
}

#logo
{
    height:45px;
    width:130px;
    margin:5px;
    padding:5px;
    cursor:pointer;
}

#location
{
    margin-left:20px;
    padding:2px;
    line-height: 0.5;    
    margin-bottom:30px;
    margin-top:5px;

}



#location:hover
{
    outline:1px solid white;
}

#logo:hover
{
    outline:1px solid white;
}

#search
{
    margin:5px;
    height:45px;
    width:100%;  
    border-radius:6px; 
}

#search:focus
{
    border:3px solid orangered;
}



@media screen and (max-width: 1176px)
{
    #search
    {
        position:absolute;
        left:40%;
        width:50%;
    }
}
@media screen and (max-width: 992px)
{
    #search
    {
        left:30%;
        top:0;
    }
}

@media screen and (max-width: 768px)
{
    #logo
    {
        height:45px;
        width:130px;
        margin:5px;
        padding:5px;
        cursor:pointer;
    }

    #search
    {
        left:25%;
        top:0;

    }
}

@media screen and (max-width:576px)
{
    #search
    {
        left:30%;
        top:0;

    }
} */



*
{
    margin:0;
    box-sizing:border-box;
    list-style: none;
}

body
{
    background-color: rgb(197,197,197);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header
{
    background-color: #131921;
    display: flex;
    align-items: center;
    position: sticky;
    top:0;
    z-index: 100;
    padding: 10px 0;
}

.logo a img
{
    width:100px;
    padding-right:20px;
    margin-top:10px;
}

/* .logo img:hover
{
    outline:1px solid white;
    
} */

.search-box
{
    display:flex;
}

.search-box input
{
    height:40px;
    padding:10px;
    border:none;
    width:100%;
}

.search-box:focus
{
    border-radius: 5px;
}

.search-box>i
{
    background-color: #cd9042;
    height:40px;
    line-height: 38px;
    text-align: center;
    padding:0 8px;
}

nav
{
    display:flex;
    justify-content: flex-start;
    padding-left:30px;
}

nav a
{
    color:#fff;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    margin: 0 20px;
}

nav a:hover
{
    color:rgba(255, 255, 255, 0.74);
}

nav span:first-child
{
    font-size: 10px;
}

nav span:nth-child(2)
{
    font-size: 13px;
    font-weight:700;
}

.cart
{
    display: flex;
    flex-direction: row;
}
.cart a i
{
    font-size: 15px;
    color:#fff;
    margin-top: 0px;
    
}

#location
{
    text-decoration: none;
}
#location span
{
    color:white;
}




@media screen and (max-width: 1201px)
{
    #location
    {
        display:none;
    }
}
